<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

{{!-- 
<section class="container-centered">
        <div class="wrapper">
        <form>

            <h2>Login</h2>

            <div class="input-box">
                <input type="text" placeholder="username" id="email-login" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input id="password-login" type="password" name="password">
                <span toggle="#password-login" class="bx bxs-show toggle-password"></span>
            </div>
            
            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Dont have an account? <a href="#">Register</a></p>
            </div>
        </form>
    </div>
    </section>--}}
<script src="./js/login.js"></script> 
