:root{
  --primary-clear: #fefdf6;
  --primary-dark: #191919;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  background-color: var(--primary-dark) !important;
  color: var(--primary-clear) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  line-height: 1.25;
}
h1{
  font-weight: 700;
  font-size: 3.5rem;
}

h2{
  font-weight: 600;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}
a, a:hover{
  text-decoration: none;
  color: inherit;
}
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.wrapper{
  width: 80%;
  background: rgb(56, 70, 220);
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px;
}

.wrapper .form-group{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}
.form-group input{
  width: 95%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #fefdf643;
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
  color: var(--primary-clear);
}
.form-group input::placeholder{
  color: #ffffff8b;
  font-size: 15px;
}
.form-group span, .form-group i{
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .btn{
  width: 60%;
  height: 45px;
  background: var(--primary-clear);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px #202020ac;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-dark);
  font-weight: 600;
}
/* main choice container */
#container-main-choice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* Cards in main page */
.main-choice-card-left, .main-choice-card-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 97%; 
  height:300px;
}

.main-choice-card-left h3, .main-choice-card-right h3  {
  font-size: 3rem;
  text-shadow: 4px 4px 4px #5a5a5a35;
  color: var(--primary-clear);
}
a.click-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
/* Animation for cards */
.bounceInRight {
  animation: bounceInRight 1s ease;
}

@keyframes bounceInRight {
  0% {opacity: 0;transform: translateX(2000px);}
  60% {opacity: 1;transform: translateX(-30px);}
  80% { transform: translateX(10px);}
  100% { transform: translateX(0);}
}
.bounceInLeft {
  animation: bounceInLeft 1s ease;
}

@keyframes bounceInLeft {
  0% {opacity: 0;transform: translateX(-2000px);}
  60% {opacity: 1;transform: translateX(30px);}
  80% {transform: translateX(-10px);}
  100% {transform: translateX(0);}
}
.main-choice-card-left a:hover, .main-choice-card-right a:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  // transform: translate3d(0, 0, 0);
  // backface-visibility: hidden;
  // perspective: 1000px;
}

@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
} 